doctype html
- var revealCdn = "https://cdn.jsdelivr.net/npm/reveal.js@3.8.0/"
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href=`${revealCdn}css/reveal.css` type='text/css')
  link#reveal-theme(rel='stylesheet' href=`${revealCdn}css/theme/white.css` type='text/css')
div(style="width: 100vw; height: 100vh")
  #global(style="display: none")
  .reveal
    .slides
script(src=`${revealCdn}js/reveal.min.js`)
script(src=`${revealCdn}plugin/highlight/highlight.js` async="true")
script(src="reveal-md.ts")